<div *ngIf="kanji" class="row justify-content-center">
    <div class="col-12">
        <button class="btn" (click)="goToKanjiList()">Back</button>
    </div>
    <div class="col-12 col-md-8" style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
        <!-- First Card -->
        <div class="card horizontal hoverable mx-auto my-3" style="width: 30%; border-radius: 10px;">
            <div class="card-stacked">
                <div class="card-content text-center" style="text-align: center;">
                    <h2 class="header">{{ kanji.character }}</h2>
                    <p style="font-weight: bold;">Readings Kun: {{ kanji.readings_kun }}</p>
                    <p style="font-weight: bold;">Readings On: {{ kanji.readings_on }}</p>
                    <p style="font-weight: bold;">Meanings: {{ kanji.meanings }}</p>
                </div>
            </div>
        </div>

        <!-- Second Card -->
        <div class="card horizontal hoverable mx-auto my-3" style="width: 60%;">
            <div class="card-stacked">
                <div class="card-content text-center">
                    <h4 class="header text-center" style="text-align: center;">Additional Information</h4>
                    <table class="bordered striped">
                        <tbody>
                            <tr>
                                <td>Strokes</td>
                                <td><strong>{{ kanji.strokes }}</strong></td>
                            </tr>
                            <tr>
                                <td>Grade</td>
                                <td><strong>{{ kanji.grade }}</strong></td>
                            </tr>
                            <tr>
                                <td>Frequency</td>
                                <td><strong>{{ kanji.frequency }}</strong></td>
                            </tr>
                            <tr>
                                <td>JLPT Level</td>
                                <td><strong>{{ kanji.jlpt_level }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 *ngIf='!kanji' class="center">No kanji to display!</h4>