<nav>
    <div class="nav-wrapper">
        <a routerLink="/homepage" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/homepage">Home</a></li>
            <li><a routerLink="/kanjiList">Kanji List</a></li>
            <li><a routerLink="">Challenges</a></li>
            <li><a routerLink="">My Profile</a></li>
            <!-- Add more navigation links as needed -->
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>